<h1 class="ev-det">Your Event Details</h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%=event.photo%> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=event.name%></h5>
    <p class="card-text"><%=event.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date:  <%=event.date%></li>
    <li class="list-group-item">Type:  <%=event.category%></li>
    <li class="list-group-item">Location:  <%=event.location%></li>
  </ul>
  <div class="card-body">
    <div class="g-plus" data-action="share">Share</div>
    <!-- <div class="fb-share-button" data-href="http://localhost:3000/new" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fnew&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->


  </div>
</div>

<p class="ha">Request to Padrino</p>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Tienda de campaña</label>
  </div>

<p class="invite"> Who's comming?</p>
<!-- <button id="emailMe" href="mailto:example@website.com">e-mail me</button> -->


<img class="guest-photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBa6DAHfU2MzBPob6gAQiQKMkjH2L6E_grJm4JhQe2zOJWjGrP" alt=""> 
<br>
<img class="guest-photo" src="http://cdn.newsapi.com.au/image/v1/164a0bc422cf83935a37edbf194bfc11" alt="">
<br>
<img class="guest-photo" src="http://ctg.greatergood.net/clickToGive/images/takeaction/campaigns/BeCrueltyFree_250x250.jpg?cb=1363194833056" alt="">

<button type="button" class="btn btn-danger">Invite via email</button>




<button class="edit-btn">Edit</button>
<button class="add-new-btn">Add New</button>
<button class="remove-bnt">Remove</button>
<!-- Share buttons for Facebook and Google -->

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=343564306134625&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
