<% if (user) {%>
<img class="dePerfil" src="<%= user.picPath %>"/>
<br>
<h1>Welcome <%= user.username%></h1> 

<% } %>
<span class="find">Find your next Padrino experiance</span>
<br>
<div class="container">
<div class="row">

  <% if (event) {%>
    <h1 class="here-are">Here are your events:</h1>
    <% event.forEach((party) => {%>
      <div class="col-sm-3">  
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=<%=party.photo%> alt="Party Image">
            <div class="card-body">
                <h5 class="card-title"><%=party.category%></h5>
                <p class="card-text"><%=party.date%></p>
              <a href=<%=`/view-events/${party._id}`%> class="btn btn-primary">View Event</a>
            </div> 
          </div>
      </div>
    <% }) %>
  <% } %>

</div>
</div>

  
  
  